@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: #f8e9ef; 
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
    height: 100vh; 
  }

  #root {
    display: grid;
    min-height: 100dvh; 
    grid-template-rows: auto 1fr auto; 
  }