@import url('https://fonts.googleapis.com/css2?family=Kodchasan:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mandali&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gantari:wght@100..900&display=swap'); 

body {
    font-family: 'Gantari', serif;
    background-color: #FFE8E8; 
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
    height: 100vh; 
  }

  #root {
    display: grid;
    min-height: 100dvh; 
    grid-template-rows: auto 1fr auto; 
  }